<div class="row">
  <div class="col s12">
    <ul class="tabs" materialize="tabs">
      <li class="tab col s3"><a class="active" href="#print-ads">Print Ads</a></li>
      <li class="tab col s3"><a href="#digital-ads">Digital Ads</a></li>
      <li class="tab col s3"><a href="#trade-shows">Trade Show Swag</a></li>
      <li class="tab col s3"><a href="#other-media">Other Media</a></li>
    </ul>
  </div>

  <div id="print-ads" class="col s12">

    <h3>Print Ads</h3>
    <div class="tiles-grid">

      <div class="tile-small effect-hover-zoom-up modal-trigger"
        data-target="IG-405-FullPage-FullBleed-Poster3">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-405-FullPage-FullBleed-Poster3-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-small effect-hover-zoom-down modal-trigger"
        data-target="IG-Splurge-FullBleed2">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Splurge-FullBleed2-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-small col-1 row-2 effect-hover-zoom-left modal-trigger"
        data-target="IG-Luxiere-FullPage-FullBleed-Poster4">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Luxiere-FullPage-FullBleed-Poster4-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-small col-2 row-2 effect-hover-zoom-right modal-trigger"
        data-target="IG-Splurge-FullBleed4">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Splurge-FullBleed4-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-up modal-trigger"
        data-target="IG-EdmondAtHome-FullPageBleed">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-EdmondAtHome-FullPageBleed-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-wide effect-hover-zoom-down modal-trigger"
        data-target="IG-Luxiere-FullPage-FullBleed-Summer">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Luxiere-FullPage-FullBleed-Summer-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-large effect-hover-zoom-left modal-trigger"
        data-target="IG-Krazy-Daze-2018-Full">
        <div class="slide-front">
            <img class="responsive-img"
            src="../../assets/media/print-ads/IG-Krazy-Daze-2018-Full-thumb.jpg">
          </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-right modal-trigger"
        data-target="IG-EdmondAtHome-FullPage-ShowHouse2">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-EdmondAtHome-FullPage-ShowHouse2-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-up modal-trigger"
        data-target="IG-Territories-DoubleSpread">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Territories-DoubleSpread-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-wide effect-hover-zoom-down modal-trigger"
        data-target="IG-Krazy-Daze-Flyer">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Krazy-Daze-Flyer-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-left modal-trigger"
        data-target="IG-Territories-DoubleSpread-Gilty">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Territories-DoubleSpread-Gilty-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-right modal-trigger"
        data-target="ISC_Showcase_Home">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC_Showcase_Home-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-up modal-trigger"
        data-target="ISC-405-HalfPageVertical-Think">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-Think-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-down modal-trigger"
        data-target="ISC-405-HalfPageVertical-ManagedServices">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-ManagedServices-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-large effect-hover-zoom-left modal-trigger"
        data-target="ISC-405-HalfPageVertical-Custom-Software">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-Custom-Software-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-wide effect-hover-zoom-right modal-trigger"
        data-target="ISC-405-HalfPageVertical-VDI">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-VDI-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-small effect-hover-zoom-up modal-trigger"
        data-target="ISC-Territories-Lightbulb">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-Territories-Lightbulb-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-small effect-hover-zoom-down modal-trigger"
        data-target="MasonCo-OKCDesignerShowHouse-QuarterPage2018">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/MasonCo-OKCDesignerShowHouse-QuarterPage2018-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

      <div class="tile-medium effect-hover-zoom-left modal-trigger"
        data-target="SPowell-OKCDesignerShowHouse-HalfPage2018">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/SPowell-OKCDesignerShowHouse-HalfPage2018-thumb.jpg">
        </div>
        <div class="slide-back"><i class="icon fas fa-search"></i></div>
      </div>

    </div>
  </div>

  <div id="digital-ads" class="col s12">
    <h3>Digital Ads</h3>
    <div class="tiles-grid">

        <div class="tile-small">1</div>
        <div class="tile-small">2</div>
        <div class="tile-small col-1 row-2">3</div>
        <div class="tile-small col-2 row-2">4</div>

        <div class="tile-medium effect-hover-slide-up modal-trigger"
          data-target="modal1">
          <div class="slide-front">Image</div>
          <div class="slide-back">Description</div>
        </div>

        <div class="tile-wide">6</div>
        <div class="tile-large">7</div>
        <div class="tile-medium">8</div>
        <div class="tile-medium">9</div>
        <div class="tile-wide">0</div>

    </div>
  </div>

  <div id="trade-shows" class="col s12">
    <h3>Trade Show Swag</h3>
    <div class="tiles-grid">

        <div class="tile-small">1</div>
        <div class="tile-small">2</div>
        <div class="tile-small col-1 row-2">3</div>
        <div class="tile-small col-2 row-2">4</div>

        <div class="tile-medium effect-hover-slide-up modal-trigger"
          data-target="modal1">
          <div class="slide-front">Image</div>
          <div class="slide-back">Description</div>
        </div>

        <div class="tile-wide">6</div>
        <div class="tile-large">7</div>
        <div class="tile-medium">8</div>
        <div class="tile-medium">9</div>
        <div class="tile-wide">0</div>

    </div>
  </div>

  <div id="other-media" class="col s12">
    <h3>Other Media</h3>
    <div class="tiles-grid">

        <div class="tile-small">1</div>
        <div class="tile-small">2</div>
        <div class="tile-small col-1 row-2">3</div>
        <div class="tile-small col-2 row-2">4</div>

        <div class="tile-medium effect-hover-slide-up modal-trigger"
          data-target="modal1">
          <div class="slide-front">Image</div>
          <div class="slide-back">Description</div>
        </div>

        <div class="tile-wide">6</div>
        <div class="tile-large">7</div>
        <div class="tile-medium">8</div>
        <div class="tile-medium">9</div>
        <div class="tile-wide">0</div>

    </div>
  </div>

</div>

<!-- Print Media Modals -->
<div id="IG-405-FullPage-FullBleed-Poster3" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-405-FullPage-FullBleed-Poster3.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1aHXczRIgLEPpKTxV9EAIHqyghQuI2p2z/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-EdmondAtHome-FullPage-ShowHouse2" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-EdmondAtHome-FullPage-ShowHouse2.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/10jyEjPfMRjMLcYjX9pZWdU1MWyGxebk3/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-EdmondAtHome-FullPageBleed" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-EdmondAtHome-FullPageBleed.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1B0qDN86kmyoDR123p0mrUqmuMECu3eVQ/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Krazy-Daze-2018-Full" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Krazy-Daze-2018-Full.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1ToEOK_71w6fCZTjmAlXbqEUNxcmZXmc8/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Krazy-Daze-Flyer" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Krazy-Daze-Flyer.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1nzs29y3WWgdH2I2Cb3xiFMD5MA8qzWlc/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Luxiere-FullPage-FullBleed-Poster4" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Luxiere-FullPage-FullBleed-Poster4.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/19z594ggHF1hSi2pfVn3GEKrQlUrYimCZ/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Luxiere-FullPage-FullBleed-Summer" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Luxiere-FullPage-FullBleed-Summer.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1MdbJY3cb7kULjEZTKoenxNhZXhVTCTsO/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Splurge-FullBleed2" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Splurge-FullBleed2.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1GQ0ReCFevCtclwLjpcHTwFgoTkLT_mjD/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Splurge-FullBleed4" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Splurge-FullBleed4.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1CxGMNoXCxOi8gOMp3U3sOB1mkO9DkVKP/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Territories-DoubleSpread-Gilty" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Territories-DoubleSpread-Gilty.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/17xnAT1BCHRvFGSR1o7V24eR8SK-r1Sm2/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="IG-Territories-DoubleSpread" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/IG-Territories-DoubleSpread.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1VGgu0Gy_NM7oA0TRg07F55GpWMqKvsyy/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-405-HalfPageVertical-Custom-Software" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-Custom-Software.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/18gcZPqWDaiusLWQfR2c9vl_ltsFGf0G-/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-405-HalfPageVertical-ManagedServices" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-ManagedServices.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/18LmjnfhOfIxBy5vhCfDifagMt5z1rbXs/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-405-HalfPageVertical-Think" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-Think.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1zjulFVGuPIgyqLP3gYiu7zELaCUdfMKY/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-405-HalfPageVertical-VDI" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-405-HalfPageVertical-VDI.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/14qXc0rirRRfX_Givwd58YTL25fiqLpqO/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-Integris-Gala" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-Integris-Gala.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1zaNs4WWuECFVBsqdRVjW7sSetfQY7CQ7/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC_Showcase_Home" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC_Showcase_Home.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1y2AXekTNBeqtHqvwEDBVVVT8oTpr_-p6/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISC-Territories-Lightbulb" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/ISC-Territories-Lightbulb.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1FysbfEZDkq1DpNt7Bj4QrganZ1UYoFxM/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="MasonCo-OKCDesignerShowHouse-QuarterPage2018" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/MasonCo-OKCDesignerShowHouse-QuarterPage2018.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1wlUO2FK4l0aKZo9Wo5q1FzI4euvOiJxB/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="SPowell-OKCDesignerShowHouse-HalfPage2018" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/SPowell-OKCDesignerShowHouse-HalfPage2018.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="https://drive.google.com/file/d/1ZIKNAwjrGOWwI8-UqplEinzsUP6u9BV4/view?usp=sharing">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <!-- Digital Media Modals-->
  <div id="" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img class="responsive-img"
          src="../../assets/media/print-ads/">
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn" target="_blank"
        href="">
        <i class="fas fa-download left"></i>
        Download Full PDF
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>