<div class="row">
  <div class="col s12">
    <ul class="tabs" materialize="tabs">
      <li class="tab col s3"><a class="active" href="#print-ads">Print Ads</a></li>
      <li class="tab col s3"><a href="#digital-ads">Digital Ads</a></li>
      <li class="tab col s3"><a href="#trade-shows">Trade Show Swag</a></li>
      <li class="tab col s3"><a href="#other-media">Other Media</a></li>
    </ul>
  </div>

  <div id="print-ads" class="col s12">

    <h3>Print Ads</h3>
    <div class="tiles-grid">

        <div class="tile-small">1</div>
        <div class="tile-small">2</div>
        <div class="tile-small col-1 row-2">3</div>
        <div class="tile-small col-2 row-2">4</div>

        <div class="tile-medium effect-hover-slide-up modal-trigger"
          data-target="modal1">
          <div class="slide-front">Image</div>
          <div class="slide-back">Description</div>
        </div>

        <div class="tile-wide">6</div>
        <div class="tile-large">7</div>
        <div class="tile-medium">8</div>
        <div class="tile-medium">9</div>
        <div class="tile-wide">0</div>

    </div>
  </div>

  <div id="digital-ads" class="col s12">
    <h3>Digital Ads</h3>
  </div>

  <div id="trade-shows" class="col s12">
    <h3>Trade Show Swag</h3>
  </div>

  <div id="other-media" class="col s12">
    <h3>Other Media</h3>
  </div>

</div>

<!-- Modals -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]">
    <div class="modal-content">
      <h4>Modal Header 1</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>