<div class="card white">
  <div class="card-content">

    <h3>Logo Designs</h3>

    <div class="tiles-grid">

      <div class="tile-large tile-1 effect-hover-zoom-up modal-trigger"
        data-target="Huntr-Logos">
        <div class="slide-front">
          <span class="badge-top black-text">9</span>
          <img class="responsive-img"
            src="../../assets/media/trade-shows/Huntr-Logo.jpg">
          <span class="branding-bar black-text"><i class="fas fa-star"></i> Logos For Huntr</span>
        </div>
        <div class="slide-back">
          <span class="badge-top">9</span>
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Logos For Huntr</span>
        </div>
      </div>

      <div class="tile-small tile-4 col-5 row-1 effect-hover-zoom-right modal-trigger"
        data-target="SharpRat-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/SharpRat-Logo.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-small tile-5 col-6 row-1 effect-hover-zoom-up modal-trigger"
        data-target="ISCBuildCloud-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/ISC-BuildCloud.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-small tile-6 col-5 row-2 effect-hover-zoom-down modal-trigger"
        data-target="LincolnTerrace-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/Lincoln-Terrace-Home-Tour.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-small tile-7 col-6 row-2 effect-hover-zoom-left modal-trigger"
        data-target="TheLilyPad-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/TheLilyPad-thumb.jpg">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-medium tile-2 effect-hover-zoom-down modal-trigger"
        data-target="Mason-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/Mason-Co-Logo.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-medium tile-3 effect-hover-zoom-left modal-trigger"
        data-target="SPowell-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/SPowell-Logo-thumb.jpg">
          <span class="branding-bar"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i></span>
        </div>
      </div>

      <div class="tile-medium tile-4 effect-hover-zoom-right modal-trigger"
        data-target="Meerkat-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/Meerkat-Logo-thumb.jpg">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
        </div>
      </div>

      <div class="tile-wide tile-5 effect-hover-zoom-up modal-trigger"
        data-target="Integris-Logos">
        <div class="slide-front">
          <span class="badge-top">6</span>
          <img class="responsive-img"
            src="../../assets/logos/Integris-logos-thumb.jpg">
          <span class="branding-bar black-text"><i class="fas fa-star"></i> Logos For Integris</span>
        </div>
        <div class="slide-back">
          <span class="badge-top">6</span>
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Logos For Integris</span>
        </div>
      </div>

      <div class="tile-wide tile-6 effect-hover-zoom-down modal-trigger"
        data-target="CannaShop-Logos">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/Canna-Shop-thumb.jpg">
          <span class="branding-bar black-text">Canna.Shop Sketches</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">Canna.Shop Sketches</span>
        </div>
      </div>

      <div class="tile-large tile-7 effect-hover-zoom-left modal-trigger"
        data-target="OKG-Icons">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/OKG-AppIcon.png">
          <span class="branding-bar"><i class="fas fa-star"></i> Icons for OK Gazette</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Icons for OK Gazette</span>
        </div>
      </div>

      <div class="tile-medium tile-8 effect-hover-zoom-right modal-trigger"
        data-target="BuzzHubb-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/BuzzHubb-thumb.png">
          <span class="branding-bar">BuzzHubb</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">BuzzHubb</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="DirectDots-Logo">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/DirectDots-thumb.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">DirectDots</span>
        </div>
      </div>

      <div class="tile-large tile-2 effect-hover-zoom-left modal-trigger"
        data-target="1CareAssist-Icons">
        <div class="slide-front">
          <img class="responsive-img"
            src="../../assets/logos/1CareAssist-NewBranding.png">
          <span class="branding-bar"><i class="fas fa-star"></i> Icons for 1CareAssist</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Icons for 1CareAssist</span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Logo Modals -->
  <div id="Huntr-Logos" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content">
      <h3>Logos For Huntr</h3>
      <p align="justify">
        Huntr was a startup information security company that offered a multi-component
        set of solutions to help systems administrators analyze and protect their network
        as well as respond to threats and vulnerabilities. Their primary logo consisted of
        a white tiger stylized using only harsh angles over a shield shape to symbolize a
        strong animal on the hunt.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/Huntr-Main.png">
      <p align="justify">
        Their solutions were offered in multiple optional components that can either be
        purchased all at once as a full suite or individually to complement an existing
        infrastructure so that the admin could keep their favorite tools and just use the
        available APIs to get everything working together. Each of those components however
        needed a separate logo to fit what they did as a part of the whole.
      </p>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Server.png">
        </div>
      </div>
      <p align="justify">
        Huntr offered not just the network security software but also its own hardware
        device which could be placed first in line on a network just before the firewall
        to act as a monitor of all inbound and outbound traffic. The above logo was used
        on marketing slicks where hardware offerings were discussed.
      </p>
      <p align="justify">
        Logos were then needed for each of the seven individual software offerings within
        the suite which ranged from monitoring to detection, response, research, knowledge
        gathering, documentation management, tracking the usage of security certificates,
        file scanning, and log databases.
      </p>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Overwatch.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Retriever.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Scout.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Guide.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Tracker.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Inspection.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Huntr-Lodge.png">
        </div>
      </div>
      <p align="justify">
        More information about Huntr's software suite can be found on <a href="http://huntr.com"
        target="_blank">Huntr.com</a>.
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="Mason-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/Mason-Co-Logo.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="SharpRat-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/SharpRat-Logo.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="ISCBuildCloud-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/ISC-BuildCloud.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="LincolnTerrace-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/Lincoln-Terrace-Home-Tour.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="TheLilyPad-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/TheLilyPad-Logo.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="SPowell-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <h3>Logos for S. Powell &amp; Co.</h3>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/SPowell-Logo.png">
        </div>
      </div>
      <p align="justify">
        S. Powell &amp; Co. is an upscale clothing boutique located in the trendy
        Uptown portion of OKC. Their styles range from tasteful and chic to pop
        art sensibilities with brignt colors. A simple logo was used as the brand
        base to appear in most circumstances (the header of their website, the
        stencil base for their shopping bags and price tags, etc.), but as the
        storefront features two large pink neon signs at the entrance another
        brighter, bolder version was also created for use on any louder media
        such as posters, social media graphics, and so forth.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/media/other-media/Art-Celeb-Banner.jpg">
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/SPowell_PopUp_Banner.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="Meerkat-Logo" class="modal  modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Meerkat-shield-color.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Meerkat-shield-black.png">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="Integris-Logos" class="modal  modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <h3>Various Integris Projects</h3>
      <p align="justify">
        Integris's Informatics Technology department needed internal logos for their
        services and letterhead. The below proposals started complex but grew more
        simple as feedback was given. The final logos were meant to be vaguely shaped
        like a full brain with lobes and stem but still simple enough that it would
        translate well to being used on stationery in black and white. The other logos
        were kept around as clipart in presentations.
      </p>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Tech-Logo-1.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Tech-Logo-2.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Tech-Logo-3.png">
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Tech-Logo-4.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Tech-Logo-5.png">
        </div>
      </div>
      <p align="justify">
        Integris's Health Services team maintained a service called Sentinel Events and
        Alerts Log, or "SEAL", and needed a logo for their web app. They already had a
        concept but did not have a digital version.
      </p>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/Integris-Seal-Logo.png">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="CannaShop-Logos" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <h3>Canna.Shop Logo Sketches</h3>
      <h4>Or, How A Logo Comes Together...</h4>
      <p align="justify">
        Canna.Shop was a proposed online portal for medicinal marijuana run by a
        local grower named Thomas Growers. During the planning meetings we discussed
        various different logo ideas and below were the introductory sketches. These
        were then turned into vector graphics for the final presentation, but
        unfortunately I do not have backups of those files. So, treat this more as an
        example of the brainstorming and planning process of creating a logo for a
        brand as opposed to any finalized work.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/Canna-Shop-sketches.jpg">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="DirectDots-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <h3>DirectDots Logo</h3>
      <p align="justify">
        DirectDots was an internal pet project of Innov8tive which would allow a
        business owner to deploy small proprietary beacons at key places on site
        and use our web or mobile interface to upload floor plans to work with
        those placed beacons to create a network that could direct a visitor to
        key landmarks within the building or campus. Ideal implementations would
        be situations such as finding an office in a complex for an appointment or
        being directed to a specific exhibit in a museum, park, or zoo.
      </p>
      <p align="justify">
        More information about the app and how it works can be viewed on my UI/UX
        page. Below is the basic logo/branding concept:
      </p>
      <div class="row">
        <div class="col s6 offset-s3"><img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/logos/DirectDots-Logo_Horizontal.png">
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3"><img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/logos/DirectDots-Logo_Vertical.png">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="BuzzHubb-Logo" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content center-align">
      <h3>BuzzHubb Logo</h3>
      <p align="justify">
        BuzzHubb was a proposed startup app intended to use location services
        along with partnerships with local hot spots to make it easier for
        patrons to connect with each other socially as well as decide where
        to go for an outing based on how "buzzing" a place is at the moment.
        You can view more of the app and its proposals on my UI/UX page.
      </p>
      <p align="justify">
        One of the early logo proposals involved bees meeting each other in
        a hive as you'll see in the first image below:
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/BuzzHubb-Logo-Concept.png">
      <p align="justify">
        Eventually, it was decided that the app would emphasize match-making
        and dating so it was requested to add gendered silhouettes to the
        hive and go for a fully silhouetted logo.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/BuzzHubb-App.png">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="OKG-Icons" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content">
      <h3>Icons for Oklahoma Gazette</h3>
      <p align="justify">
        The OK Gazette's website features a widget where visitors can search,
        favorite, and track upcoming events and venues. They sought out the
        app design services of my office, and the overall concept of that
        proposal can be seen on my UI/UX page. One of the key components of
        the proposal though was coming up with an app icon and some in-app
        iconography for the different event categories and features so that
        users could easily identify them without relying upon label text.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/OKG-App-Icon-Template.png">
      <p align="justify">
        After deciding that the app itself should stick to brand consistency
        to leverage the Gazette's reputation (rather than try a standalone
        or stealth marketing approach) we came up with numerous individual
        icons to be used within the app any time an event type or feature
        would be used.
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/OKG-Categories.png">
      <p align="justify">
        Below are a few examples of how these icons would be used within the
        app. See the UI/UX page for a more detailed look at the OK Gazette's
        Events app proposal.
      </p>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/web-design/OKG-iPhone-02-Welcome.png"> 
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/web-design/OKG-iPhone-05-FavoritePlaces.png"> 
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>

  <div id="1CareAssist-Icons" class="modal modal-fixed-footer" materialize="modal">
    <div class="modal-content">
      <h3>Icons for 1CareAssist</h3>
      <p align="justify">
        1CareAssist started as a project for Integris's Informatics department.
        Internally they used a system called ServiceNow to track help tickets,
        system outages, and important notices. They wanted an easy to use app
        that would be used by nearly all Integris staff and would include many
        features aside from system-related notices such as directory based
        caller ID and facility disaster alerts.
      </p>
      <div class="row">
        <div class="col s6 offset-s3">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/logos/1CareAssist-NewBranding.png">
        </div>
      </div>
      <p align="justify">
        A big part of the new app was going to be large buttons for easy access
        to menu items or question responses so that features could be accessed
        and help tickets entered in a quick and easy manner. Numerous custom
        icons were created for these features:
      </p>
      <img materialize="materialbox" class="responsive-img materialboxed"
        src="../../assets/logos/1CareAssist-CategoryIcons.png">
      <p align="justify">
        Below are a few examples of how these icons would be used within the
        app. See the UI/UX page for a more detailed look at the 1CareAssist
        app proposal.
      </p>
      <div class="row">
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/web-design/1Care-App-Wireframe-01-Home.png"> 
        </div>
        <div class="col s6">
          <img materialize="materialbox" class="responsive-img materialboxed"
            src="../../assets/web-design/1Care-App-Wireframe-04-OpenATicket.png"> 
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        <i class="fas fa-times left"></i>
        Close
      </a>
    </div>
  </div>