<div class="card white">
  <div class="card-content">

    <h3>User Interfaces and Web Design</h3>
    <div class="tiles-grid">

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="VirtualWorks">
        <div class="slide-front">
          <span class="badge-top">2</span>
          <img class="responsive-img"
          src="../../assets/web-design/virtualworks_thumb.jpg">
        </div>
        <div class="slide-back">
          <span class="badge-top">2</span>
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">VirtualWorks</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="DrAppt">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/web-design/drappt_thumb.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">Dr.Appt</span>
        </div>
      </div>

      <div class="tile-wide tile-1 effect-hover-zoom-up modal-trigger"
        data-target="PL">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/web-design/PL_thumb.jpg">
          <span class="branding-bar red-text"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> NautixLabs</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="OKG-Events">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/OKG-AppIcon.png">
          <span class="branding-bar"><i class="fas fa-star"></i> OKG Events</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> OKG Events</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="Huntr-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/trade-shows/Huntr-Logo.jpg">
          <span class="branding-bar black-text"><i class="fas fa-star"></i> Huntr</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Huntr</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="SPowell-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/SPowell-Logo.png">
          <span class="branding-bar yellow-text"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> S.Powell &amp; Co.</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="IG-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/trade-shows/IG-thumb.jpg">
          <span class="branding-bar">Interior Gilt</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">Interior Gilt</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="DirectDots-App">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/DirectDots-thumb.png">
          <span class="branding-bar yellow-text"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> DirectDots</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="BuzzHubb-App">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/BuzzHubb-thumb.png">
          <span class="branding-bar"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> BuzzHubb</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="1CareAssist-App">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/1CareAssist-NewBranding.png">
          <span class="branding-bar"><i class="fas fa-star"></i></span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> 1CareAssist</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="Mason-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/Mason-Co-Logo.png">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">Mason &amp; Co.</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="LincolnTerrace-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/web-design/lincoln_terrace_thumb.jpg">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">Lincoln Terrace</span>
        </div>
      </div>

      <div class="tile-medium tile-1 effect-hover-zoom-up modal-trigger"
        data-target="Lily-WWW">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/logos/TheLilyPad-thumb.jpg">
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar">The Lily Pad</span>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- UI/UX Modals -->
<div id="VirtualWorks" class="modal modal-fixed-header modal-fixed-footer" materialize="modal">
  <div class="modal-header">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s6"><a class="active" href="#vw-app">Standalone App</a></li>
          <li class="tab col s6"><a href="#nyt-plugin">NY Times Plugin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-content center-align">
    <div class="row">
      <div id="vw-app" class="col s12">
        <h3>VirtualWorks Standalone App</h3>
        <p align="justify">
          This was one of my first app prototypes circa winter 2015. VirtualWorks is a
          search aggregate company that specialized in taking machine learning and
          predictive technology to make search technology more intuitive. They proposed
          creating a standalone, consumer level app which would take inventory of a user's
          accounts and services with multiple APIs such as searching for any relevent emails,
          downloads, online document services, or cloud services. This way if you knew you'd
          seen something on a particular subject somewhere but couldn't remember where you'd
          stashed it you could use ViaWorks to track it down.
        </p>
        <p align="justify">
          The proposal included versions for both iOS and Android, and each version had to
          have native design cues so that it wouldn't feel like an Apple app on an Android
          device or vice versa. See the iOS version below:
        </p>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_welcome_login.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_welcome_homescreen.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_connect_services.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_menu.png">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_search_suggestions.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_search_filters.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_search_results.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_ios_search_results_3.png">
          </div>
        </div>
        <p align="justify">
          See the Android version below:
        </p>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_homescreen_widget.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_welcome_login.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_welcome_homescreen.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_connect_services.png">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_menu.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_search_suggestions.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_search_filters.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/virtualworks_android_search_results.png">
          </div>
        </div>
      </div>
      <div id="nyt-app" class="col s12">
        <h3>NY Times Search Integration</h3>
        <p align="justify">
          Our second project for VirualWorks was to design a pitch they would then take
          to the NY Times to sell them on using their search intelligence API to improve
          the user experience on the NY Times mobile app. They would also use this proposal
          to pitch their services to other brands.
        </p>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_welcome_homescreen.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_search_suggestions.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_search_suggestions_categorized.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_search_suggestions_categorized2.png">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_search_results.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_trending_searches.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_trending_searches2.png">
          </div>
          <div class="col s3">
            <img materialize="materialbox" class="responsive-img materialboxed"
              src="../../assets/web-design/nyt_ios_trending_searches_grid.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="DrAppt" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>Dr.Appt Search and Schedule Service</h3>
    <p align="justify">
      This was a proposal for a web service that would work as a patient portal for helping
      to locate a specialist who is available when a patient needs them. They can setup
      filters for distance, specific availability, or just general timeframe and then break
      down their search by speciality, then see their co pay (including managing their insurance
      provider and network filtering) and schedule and confirm appointment and details.
    </p>
    <div class="row">
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/drappt_doctor.png">
      </div>
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/drappt_calendar.png">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="PL" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>PL Supplements / NautixLabs</h3>
    <p align="justify">
      PL Supplements was a local pharmaceutical company who wanted to setup a whitelabel
      service where health shops and dispensaries could create their own branded versions
      of popular supplements by uploading their own custom labels and then order stock for
      their own shops. This way a health food store, for example, could carry their own
      product line of common items and still benefit from a large supplier's quality control
      and FDA-certified lot tracking and validation process.
    </p>
    <p align="justify">
      This project started as a customization of their BigCommerce-hosted eCommerce website,
      but eventually we became aware that BigCommerce wasn't going to give them the workflow
      that they needed as far as letting clients upload custom logos, see a 3D rendering of
      the new bottle with their branding, and track the FDA-required quality control measures
      and certificates. So, an in-house, custom eCommerce solution was built instead. Though
      screenshots of this aren't available, our custom suite for them also included a custom
      iPad application that their warehouse staff would use to manage inventory as it went
      through various stages to stock the storefront, go through inspection and certification,
      and shipping and delivery.
    </p>
    <div class="row">
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Home_demo.jpg">
      </div>
      <div class="col s4 offset-s2">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Home_mobile.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Categories.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Products.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Product_details_description.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Product_details_supp_facts.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Product_details_options_on.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Product_details_options_off.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_Account_Settings.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_critical_warning.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_dropdown_open.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_regular_warning.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/PL_completed_warning.jpg">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="../../assets/web-design/PL/default.html">
      <i class="fas fa-eye left"></i>
      View Local Copy of Design
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="OKG-Events" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>OK Gazette Events App</h3>
    <p align="justify">
      The OK Gazette's website features a widget where visitors can search,
      favorite, and track upcoming events and venues. They sought out the
      app design services of my office, and we set out to make a prototype
      for a native mobile app that would pleasingly offer users the same
      functionality while also eventually giving the OK Gazette another
      option for future ad revenue generation.
    </p>
    <p align="justify">
      A user would begin by logging in with an existing social media account.
      At first this would just be so that a local user profile could be created
      to allow easy access to sharing of events with others as well as having an
      easy way to store favorite events and venues, but eventual planned
      enhancements would be to curate user-centric searches and suggestions based
      upon profile information.
    </p>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-01-Login.png">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-02-Welcome.png">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-03-Browse.png">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-04-EventDetails.png">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-05-FavoritePlaces.png">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/OKG-iPhone-06-Pinned.png">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="Huntr-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>Huntr Public Website</h3>
    <p align="justify">
      Huntr was a startup information security company that offered a multi-component
      set of solutions to help systems administrators analyze and protect their network
      as well as respond to threats and vulnerabilities. In addition to designing their
      logo, branding, and trade show swag I was also asked to help build their marketing
      website to help deliver their products to the public.
    </p>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr_Homepage.jpg">
      </div>
      <div class="col s8">
        <p align="justify">
          Their solutions were offered in multiple optional components that can either be
          purchased all at once as a full suite or individually to complement an existing
          infrastructure so that the admin could keep their favorite tools and just use the
          available APIs to get everything working together. This meant that a visitor would
          need to know which components are right for them by determining where they fit among
          the philosophies of what it means to do a "guided hunt" for security problems. So,
          in addition to typical web content explaining the different levels, it was also
          decided that an online survey would be used to help a visitor determine what solutions
          are right for them and approximately how much it would cost (in addition to giving the
          site some lead capture functionality).
        </p>
      </div>
    </div>
    <p align="justify">
      As this was my first Angular project I worked mostly on the frontend assets and styles
      and then coordinated with a team who were building out the service layers that would be
      used to collect the responses to the survey to make product suggestions and tally cost
      estimations. I'd construct dummy pages and provide naked and labeled mockups to instruct
      the back end developers which classes to use or which elements to target with their
      Angular modules for certain functionality.
    </p>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-1-Services.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-1-Services - Labeled.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-2-Recommendations.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-2-Recommendations - Labeled.png">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-3-Hardware.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-3-Hardware - Labeled.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-4-Consultation.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-4-Consultation - Labeled.png">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-5a-Summary (Top).png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-5a-Summary (Top) - Labeled.png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-5b-Summary (Bottom).png">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/Huntr-5b-Summary (Bottom) - Labeled.png">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="http://www.huntr.com">
      <i class="fas fa-link left"></i>
      Visit Live Website
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="SPowell-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>S. Powell &amp; Co. Placeholder Site</h3>
    <p align="justify">
      S. Powell &amp; Co. is an upscale clothing boutique located in the trendy
      Uptown portion of OKC. Their styles range from tasteful and chic to pop
      art sensibilities with brignt colors. While they were under construction
      of their physical storefront they wanted an attractive landing page to
      connect to their social media accounts so they could begin to earn followers
      and buzz leading up to the grand opening. This temporary site would eventually
      be replaced with a full Shopify suite to integrate with their registers
      and inventory.
    </p>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/SPowell_proto1.jpg">
      </div>
      <div class="col s8">
        <p align="justify">
          The first suggested mockup would include landing pages for each of their
          featured brands as well as a blogging functionality powered by Jekyl
          where their staff would post fashion advice or product reviews. These
          mockups were done before brand colors had been established. It was also
          determined that they did not plan to blog or create any article based content.
        </p>
        <p align="justify">
          The second prototype brings in their newly decided brand colors and also an
          emphasis on this being a single-page website and hub for their social media
          experience. All navigation is replaced with social media links and all page
          content aside from the feature carousel has been setup as social media plugins
          to show the latest posts. The footer's links have also been updated to include
          the brand's story since there is no longer an "about" page.
        </p>
        <p align="justify">
          The final mockup has only a few differences from the last, as all the main
          features had been agreed upon and settled into the previous draft. The only
          major change was the inclusion of a slider near the bottom which would include
          logos for each of their major brands. You can view a fully functional local
          copy of this placeholder page below as it has now been replaced with their
          Shopify website.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/SPowell_proto2.jpg">
      </div>
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/SPowell_proto3.jpg">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="../../assets/web-design/SPowell/index.html">
      <i class="fas fa-eye left"></i>
      View Local Copy of Design
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="IG-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>Interior Gilt webpage mockups</h3>
    <p align="justify">
      Interior Gilt is a luxury furniture store that specializes in high-end product
      lines, custom-made items, antiques, and interior design services. They use a
      software suite to manage their registers and warehouse inventory but it did not
      come with an eCommerce solution. Our developers had already built a custom in-
      house eCommerce platform when we worked with PL Supplements which was based upon
      .NET Framework, so we decided to use some of that same backbone to create a set
      of plugins for their existing software to allow online shopping.
    </p>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-1.jpg">
      </div>
      <div class="col s9">
        <p align="justify">
          The first proposed design was dark and leveraged some of the black and gold
          themed print materials with the subtle damask texture that they were running
          at the time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s9">
        <p align="justify">
          They decided they wanted something different for their web presence and didn't
          necessarily want to coordinate with their print media. The entire reason black
          and dark schemes were used in print was for the contrast, but that didn't translate
          as well on the web where sites vary wildly. Instead, a cleaner overall look was
          desired and for the next mockup I decided to begin fleshing out the rest of the
          site's components.
        </p>
        <p align="justify">
          The intention with this design would be that as you scroll down the navbar would
          dock at the top of the window and remain fixed. The featured header would keep the
          high contrast from the first draft, but would emphasize their Uptown OKC vibe with
          classic mural-style fonts over a brick backdrop. Scrolling down you can begin to
          see how products would appear as well as parallax calls to action, blog articles,
          and finally the footer.
        </p>
        <p align="justify">
          Some of these design cues would continue through future drafts, but for the next
          few mockups you'll see where suggestions were implemented in a few different places
          in order to discuss other options and how certain themes could be carried into
          interior pages.
        </p>
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-2.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-3.jpg">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-4.jpg">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-5.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-5-Store-Homepage.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-5-Store-Item.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-5-Store-Checkout.jpg">
      </div>
      <div class="col s3">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-5-Portfolio.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-6.jpg">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-6-Mobile.jpg">
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/IG-Proto-6-Mobile-Footer.jpg">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="http://www.interiorgilt.com">
      <i class="fas fa-link left"></i>
      Visit Live Website
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="DirectDots-App" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <img materialize="materialbox" class="responsive-img materialboxed"
      src="../../assets/logos/DirectDots-Logo_Horizontal.png">
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="BuzzHubb-App" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <img materialize="materialbox" class="responsive-img materialboxed"
      src="../../assets/logos/BuzzHubb-App.png">
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="1CareAssist-App" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <img materialize="materialbox" class="responsive-img materialboxed"
      src="../../assets/logos/1CareAssist-NewBranding.png">
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="Mason-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>Mason &amp; Co. Single-Page Website</h3>
    <div class="row">
      <div class="col s6">
        <p align="justify">
          A local construction company kept getting phone calls from potential clients who
          wanted to see photos of their work before deciding to move forward. Though they
          had professional photos taken and added to their social media accounts it wasn't
          as clear to categorize or navigate these or to communicate to older callers how
          to find them online. They wanted a single website that would be as clear and easy
          to follow as possible with featured galleries for some of their favorite projects
          and an easy to use contact form.
        </p>
        <p align="justify">
          Though the live website is no longer operational you can view a fully functional
          local backup of it via the button below.
        </p>
      </div>
      <div class="col s6">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/logos/Mason-Co-Logo.png">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="../../assets/web-design/MasonAndCo/index.html">
      <i class="fas fa-eye left"></i>
      View Local Copy of Design
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="LincolnTerrace-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>Lincoln Terrace Website Remodel</h3>
    <div class="row">
      <div class="col s8">
        <p align="justify">
          Lincoln Terrace is a historic neighborhood located adjascent to the state
          capitol complex in Oklahoma City. Their previous website was built using
          one of WordPress's default themes (I believe 2011 or another such free
          layout) but they had setup numerous custom apps within it to handle their
          roster of HOA members, photo galleries, blog posts, and document library.
          They also had several pages that were hosted on another sub-site which were
          just static HTML pages containing an archive of old historic photos broken
          down by each street and house along each street.
        </p>
        <p align="justify">
          They had three main goals going into the project. First, they wanted to
          stick with WordPress and all of their custom apps but wanted a "fresh start"
          because they had too many admin users and couldn't recall all of the permissions
          they had handed out over the years. So, I'd migrate them to a second WordPress
          account which would also serve as our sandbox during the development phase so
          that their current site wouldn't be replaced until they were happy with their
          new one.
        </p>
        <p align="justify">
          Their next goal was to modernize their website so that it worked great on
          mobile devices and included a simpler and easier to read interface. I tackled
          this by doing mockups on the designs until they liked how it was put together
          and then I created a custom WordPress theme setup just for them.
        </p>
        <p align="justify">
          Their final goal was to migrate everything - including those old static HTML
          pages that were hosted elsewhere - under one roof so it could be managed in
          one place and kept up to date. Since many of those old pages were built using
          rigid HTML tables I setup Cherry Editor for them and made sure all pages were
          recreated using this same editor to lay out responsive grids with media
          break points that were easily seen in the editor. They could click on a column
          to edit that column's contents without fear of messing up those break points.
        </p>
        <p align="justify">
          After using several WordPress migration plugins to make sure all image galleries,
          HOA member contacts, document uploads, blog posts (and any images and links within
          them), and static pages had all been moved over correctly and nothing errored as
          broken links they reviewed the new site and when approved we pointed their
          domain name at it and let the old WordPress account get deleted. It made for a
          smooth transition.
        </p>
      </div>
      <div class="col s4">
        <img materialize="materialbox" class="responsive-img materialboxed"
          src="../../assets/web-design/lincoln_terrace_proposal.jpg">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="https://www.lincolnterrace.org">
      <i class="fas fa-link left"></i>
      Visit Live Website
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>

<div id="Lily-WWW" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <h3>The Lily Pad simple landing page</h3>
    <p align="justify">
      This was a quick and simple project for the same client who owned the Mason
      &amp; Co. construction company. They owned a vacation rental property in South
      Florida and, though they'd already been listing it in places such as Air B&amp;B,
      they wanted a landing page so that they could feature some of its highlights in
      ways that other classified websites made difficult.
    </p>
    <p align="justify">
      This wasn't going to be a paid client but rather a favor for an existing client,
      so I just took the same framework we had used on the Mason &amp; Co. website and
      customized it to feature a different set of contents. It was the sort of quick
      development job that could be done in a single work day and deployed relatively
      quickly to maximize getting it in front of potential renters ASAP.
    </p>
    <p align="justify">
      I also threw together a quick custom logo for the property. Though the website is
      no longer live, you can view a fully functional local backup of it via the button
      below.
    </p>
    <img materialize="materialbox" class="responsive-img materialboxed"
      src="../../assets/logos/TheLilyPad-Logo.png">
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn" target="_blank"
      href="../../assets/web-design/LilyPad/index.html">
      <i class="fas fa-eye left"></i>
      View Local Copy of Design
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>