<div class="card white">
  <div class="card-content">

    <h3>User Interfaces and Web Design</h3>
    <div class="tiles-grid">

      <div class="tile-large tile-1 effect-hover-zoom-up modal-trigger"
        data-target="Modal-1">
        <div class="slide-front">
          <img class="responsive-img"
          src="../../assets/media/print-ads/IG-405-FullPage-FullBleed-Poster3-thumb.jpg">
          <span class="branding-bar"><i class="fas fa-star"></i> Title</span>
        </div>
        <div class="slide-back">
          <i class="icon fas fa-search"></i>
          <span class="branding-bar"><i class="fas fa-star"></i> Title</span>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- UI/UX Modals -->
<div id="Modal-1" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content center-align">
    <img materialize="materialbox" class="responsive-img materialboxed"
      src="../../assets/logos/Mason-Co-Logo.png">
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fas fa-times left"></i>
      Close
    </a>
  </div>
</div>