.nav-wrapper {
    padding-left: 6em;
    padding-right: 6em;
  }
  
.page-title {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  letter-spacing: .11em;
  line-height: 1em;
  text-rendering: optimizeLegibility;
}

nav ul li.active {
  background-color: rgba(255,255,255,1);
}
nav ul a:hover {
  background-color: rgba(255,255,255,0.6);
}

// Soft green color scheme for tabs
.tabs {
  /deep/ & .indicator {
      background-color: rgba(76,175,80,1);
  }
}