// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

// Manual container-like padding for nav
.nav-wrapper {
  padding-left: 6em;
  padding-right: 6em;
}

// Custom font for page heading
.page-title {
  font-size: 17px;
  letter-spacing: .11em;
  line-height: 1em;
  text-rendering: optimizeLegibility;
}

// Nav link colors
nav ul li.active {
  background-color: rgba(255,255,255,1);
}
nav ul a:hover {
  background-color: rgba(255,255,255,0.6);
}

// Soft green color scheme for tabs
.tabs {
  /deep/ & .indicator {
      background-color: rgba(76,175,80,1);
  }
}