<h1 class="signature center-align green-text text-darken-4">Shawn Smalley</h1>
<h5 class="center-align"><strong>GRAPHICS &bull; UI/UX &bull; FRONTEND DEV &bull; SEO</strong></h5>

<div class="container">
  <div class="row">
    <div class="card white col l10 m8 s12">
        <div class="cards-tab">
          <ul class="tabs" materialize="tabs">
            <li class="tab col s4">
              <a class="active" href="#intro">
                <i class="fas fa-smile"></i> &nbsp; Intro
              </a>
            </li>
            <li class="tab col s4">
              <a href="#skills">
                <i class="fas fa-star"></i> &nbsp; Skills
              </a>
            </li>
            <li class="tab col s4">
              <a href="#references">
                <i class="fas fa-thumbs-up"></i> &nbsp; References
              </a>
            </li>
          </ul>
        </div>
        
        <div id="intro" class="card-content">

          <section><p align="justify">
            Graphic arts and web design have been hobbies of mine since 1997, I did desktop publishing and HTML starting in 2001, WordPress and CSS starting in 2004, SASS/Less since 2015, SEO and online marketing since 2011, and specialized advertising and mobile app design over the last three years.
          </p></section>
          <section><p align="justify">
            While at a la mode I enjoyed leading teams while in several departments over my 8.5 year tenure, but my final position had me over five other web designers handling escalated issues and taking special care of upset clients. I also taught daily webinars to our clients focusing on improvement, marketing, and blogging which was both fun and a career highlight.
          </p></section>
          <section><p align="justify">
            My position at Innov8tive for 3 years had me mixing with different skills. We had print media, trade show swag, shop signage, web graphics and ad publications for several clients in addition to web and app interface designs and development. We used Agile/Scrum collaboration tools and techniques to coordinate on fast paced projects across verticals.
          </p></section>
          <section><p align="justify">
            My references at Innov8tive may be able to provide additional details about my work that I haven't been able to share on my Google Drive due to client NDAs. My LinkedIn profile also contains additional details about my work history. I'd also appreciate any feedback you may have, as I value your perspectives.
          </p></section>

        </div>
        <div id="skills" class="card-content">

          <section><p align="justify">
            <strong>Quick Summary:</strong> HTML, CSS3 (SASS/LESS), jQuery, Angular5 (Frontend), Git/Node, Agile/Scrum, WordPress, Shopify, BigCommerce, Adobe Creative Suite, Sketch, Proto.io, Google Analytics, Growth Marketing, Public Speaking
          </p></section>
          <section><p align="justify">
            I've worked on web design and graphic arts at least as a hobby going back to 1997 building up experience with various languages, tools, and best practices. Most website work was done via CSS/SASS/Less or other precompilers when possible or in a content management program when it was more efficient to do so (especially if clients intended to handle content management themselves). Graphic design experience has been almost exclusively with Adobe Creative Suite products and included desktop publishing, vehicle wraps, web banners, print media, and decorative illustrations.
          </p></section>
          <section><p align="justify">
            A major highlight from my past experience includes the 8.5 years spent at a la mode, inc. establishing a website customization service for their clients and teaching customer-facing live webinars on a variety of topics such as inbound marketing, social media, search engine tactics, and analytics. Over this tenure I developed public speaking skills and worked directly with clients for one-on-one consultations to help improve satisfaction with our products. I also produced video content into a self-service library that clients could review outside of our provided consultations.
          </p></section>
          <section><p align="justify">
            Another highlight has been three years with Innov8tive creating print and web ad media, logos, web design projects, mobile and web app prototypes, vehicle wraps and social media graphics. Overall, the position taught me about how large client projects are managed and working under AGILE and SCRUM teamwork roles with scheduled sprints, deadlines, and delivering reviewables to clients in stages.
          </p></section>
          <section><p align="justify">
            Additional skills I'd like to develop in the future would include photography, improved video editing including animations and storyboarding, and additional creative writing or copywriting for marketing purposes.
          </p></section>
        </div>
        <div id="references" class="card-content">
          
          <ul class="collection">
              <li class="collection-item avatar">
                <img src="../../assets/isc-logo.png" alt="" class="circle">
                <span class="title green-text darken-text-4">Matthew Hamilton</span>
                <p>Corporate Technology Officer: Innov8tive, LLC. <br>
                  <i class="fas fa-envelope"></i>&nbsp;
                  <a href="mailto:Matthew@Innov8tive.io">Matthew@Innov8tive.io</a>
                  &nbsp; &bull; &nbsp;
                  <i class="fas fa-phone"></i>&nbsp;
                  <a href="tel:405.641.3189">405.641.3189</a>
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="../../assets/isc-logo.png" alt="" class="circle">
                <span class="title green-text darken-text-4">Grayson Estes</span>
                <p>Tech Evangelist: Innov8tive <br>
                  <i class="fas fa-envelope"></i>&nbsp;
                  <a href="mailto:Grayson@Estes.io">Grayson@Estes.io</a>
                  &nbsp; &bull; &nbsp;
                  <i class="fas fa-phone"></i>&nbsp;
                  <a href="tel:405.226.3248">405.226.3248</a>
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="../../assets/alm-logo.jpg" alt="" class="circle">
                <span class="title green-text darken-text-4">Matt Krodel</span>
                <p>Product Manager: a la mode, inc. <br>
                  <i class="fas fa-envelope"></i>&nbsp;
                  <a href="mailto:Matt@alamode.com">Matt@alamode.com</a>
                  &nbsp; &bull; &nbsp;
                  <i class="fas fa-phone"></i>&nbsp;
                  <a href="tel:405.202.1382">405.202.1382</a>
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="../../assets/alm-logo.jpg" alt="" class="circle">
                <span class="title green-text darken-text-4">Joel Baker</span>
                <p>VP of Appraiser Advocacy: a la mode, inc. <br>
                  <i class="fas fa-envelope"></i>&nbsp;
                  <a href="mailto:Joel@alamode.com">Joel@alamode.com</a>
                  &nbsp; &bull; &nbsp;
                  <i class="fas fa-phone"></i>&nbsp;
                  <a href="tel:405.406.5301">405.406.5301</a>
                </p>
              </li>
            </ul>

        </div>

    </div>
  </div>
</div>