<h1 class="signature center-align green-text text-darken-4">Shawn Smalley</h1>
<h5 class="center-align"><strong>GRAPHICS &bull; UI/UX &bull; FRONTEND DEV &bull; SEO</strong></h5>

<div class="container">
  <div class="row">
    <div class="card white col l10 m8 s12">
      <div class="cards-tab">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s4">
            <a class="active" href="#intro">
              <i class="fas fa-smile"></i> &nbsp; Intro
            </a>
          </li>
          <li class="tab col s4">
            <a href="#skills">
              <i class="fas fa-star"></i> &nbsp; Skills
            </a>
          </li>
          <li class="tab col s4">
            <a href="#references">
              <i class="fas fa-thumbs-up"></i> &nbsp; References
            </a>
          </li>
        </ul>
      </div>
      
      <div id="intro" class="card-content">

        <section><p align="justify">
          Graphic arts and web design have been hobbies of mine since 1997, I did desktop publishing and HTML starting in 2001, WordPress and CSS starting in 2004, SASS/Less since 2015, SEO and online marketing since 2011, and specialized advertising and mobile app design over the last three years.
        </p></section>
        <section><p align="justify">
          While at a la mode I enjoyed leading teams while in several departments over my 8.5 year tenure, but my final position had me over five other web designers handling escalated issues and taking special care of upset clients. I also taught daily webinars to our clients focusing on improvement, marketing, and blogging which was both fun and a career highlight.
        </p></section>
        <section><p align="justify">
          My position at Innov8tive for 3 years had me mixing with different skills. We had print media, trade show swag, shop signage, web graphics and ad publications for several clients in addition to web and app interface designs and development. We used Agile/Scrum collaboration tools and techniques to coordinate on fast paced projects across verticals.
        </p></section>
        <section><p align="justify">
          My references at Innov8tive may be able to provide additional details about my work that I haven't been able to share on my Google Drive due to client NDAs. My LinkedIn profile also contains additional details about my work history. I'd also appreciate any feedback you may have, as I value your perspectives.
        </p></section>

      </div>
      <div id="skills" class="card-content">

        <section><p align="justify">
          <strong>Quick Summary:</strong> HTML, CSS3 (SASS/LESS), jQuery, Angular5 (Frontend), Git/Node, Agile/Scrum, WordPress, Shopify, BigCommerce, Adobe Creative Suite, Sketch, Proto.io, Google Analytics, Growth Marketing, Public Speaking
        </p></section>
        <section><p align="justify">
          I've worked on web design and graphic arts at least as a hobby going back to 1997 building up experience with various languages, tools, and best practices. Most website work was done via CSS/SASS/Less or other precompilers when possible or in a content management program when it was more efficient to do so (especially if clients intended to handle content management themselves). Graphic design experience has been almost exclusively with Adobe Creative Suite products and included desktop publishing, vehicle wraps, web banners, print media, and decorative illustrations.
        </p></section>
        <section><p align="justify">
          A major highlight from my past experience includes the 8.5 years spent at a la mode, inc. establishing a website customization service for their clients and teaching customer-facing live webinars on a variety of topics such as inbound marketing, social media, search engine tactics, and analytics. Over this tenure I developed public speaking skills and worked directly with clients for one-on-one consultations to help improve satisfaction with our products. I also produced video content into a self-service library that clients could review outside of our provided consultations.
        </p></section>
        <section><p align="justify">
          Another highlight has been three years with Innov8tive creating print and web ad media, logos, web design projects, mobile and web app prototypes, vehicle wraps and social media graphics. Overall, the position taught me about how large client projects are managed and working under AGILE and SCRUM teamwork roles with scheduled sprints, deadlines, and delivering reviewables to clients in stages.
        </p></section>
        <section><p align="justify">
          Additional skills I'd like to develop in the future would include photography, improved video editing including animations and storyboarding, and additional creative writing or copywriting for marketing purposes.
        </p></section>
      </div>
      <div id="references" class="card-content">
        
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../assets/isc-logo.png" alt="" class="circle">
            <span class="title green-text darken-text-4">Matthew Hamilton</span>
            <p>Corporate Technology Officer: Innov8tive, LLC. <br>
              <i class="fas fa-envelope"></i>&nbsp;
              <a href="mailto:Matthew@Innov8tive.io">Matthew@Innov8tive.io</a>
              &nbsp; &bull; &nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <a href="tel:405.641.3189">405.641.3189</a>
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="../../assets/isc-logo.png" alt="" class="circle">
            <span class="title green-text darken-text-4">Grayson Estes</span>
            <p>Tech Evangelist: Innov8tive <br>
              <i class="fas fa-envelope"></i>&nbsp;
              <a href="mailto:Grayson@Estes.io">Grayson@Estes.io</a>
              &nbsp; &bull; &nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <a href="tel:405.226.3248">405.226.3248</a>
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="../../assets/alm-logo.jpg" alt="" class="circle">
            <span class="title green-text darken-text-4">Matt Krodel</span>
            <p>Product Manager: a la mode, inc. <br>
              <i class="fas fa-envelope"></i>&nbsp;
              <a href="mailto:Matt@alamode.com">Matt@alamode.com</a>
              &nbsp; &bull; &nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <a href="tel:405.202.1382">405.202.1382</a>
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="../../assets/alm-logo.jpg" alt="" class="circle">
            <span class="title green-text darken-text-4">Joel Baker</span>
            <p>VP of Appraiser Advocacy: a la mode, inc. <br>
              <i class="fas fa-envelope"></i>&nbsp;
              <a href="mailto:Joel@alamode.com">Joel@alamode.com</a>
              &nbsp; &bull; &nbsp;
              <i class="fas fa-phone"></i>&nbsp;
              <a href="tel:405.406.5301">405.406.5301</a>
            </p>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card white col s12">
      <div class="card-content">
        <span class="card-title">Work Experience</span>
      </div>

      <div class="cards-tab">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s4">
            <a class="active" href="#innov8tive">
              2015-Present
            </a>
          </li>
          <li class="tab col s4">
            <a href="#alamode">
              2007-2015
            </a>
          </li>
          <li class="tab col s4">
            <a href="#others">
              2001-2007
            </a>
          </li>
        </ul>
      </div>

      <div id="innov8tive" class="card-content">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../assets/isc-logo.png" alt="" class="circle">
            <span class="title green-text darken-text-4">Graphic Designer and UI/UX</span>
            <p>Innov8tive, LLC. <br>
            Nov 2015 – Oct 2018</p>
          </li>
        </ul>
        <strong>Career Highlights:</strong>
        <ul class="browser-default">
          <li>Remodeled iPhone app for healthcare institution to manage help tickets, workplace communication</li>
          <li>Designed frontend of desktop app used by large manufacturer to manage machine parts, plans, versioning</li>
          <li>Setting up WordPress, Shopify, BigCommerce, or Angular website front ends for local businesses</li>
          <li>Create proof-of-concepts, client presentations, visual assets, and functional prototypes to pass back to back end developers to complete finished products</li>
          <li>Social, web, print, and mail marketing materials as well as logos and swag materials for multiple brands</li>
        </ul>
        <section><p align="justify">
          Innov8tive offers managed IT services, data management, hosting, software development, websites, and staff augmentation. If a client needs a web or mobile app, print or web ads, trade show swag, social media graphics, or other visual media then that's where I came in. Common advertising clients included a high end furniture store, high end clothing store, local construction contractor, neighborhood home owners association, and a few other small, local businesses.
        </p></section>
        <section><p align="justify">
          With regards to software development jobs, often I'd work with other developers where I'd coordinate internally regarding how the project should be structured and create mockups or a semi-functional prototype as a proof of concept for client review, incorporate any of their feedback, and then assist the backend and service layer devs with any assets they need to recreate that look in our chosen platform. Clients of this sort included a large chain manufacturer seeking software automation and health care providers who needed tools to manage some aspect of their workflow.
        </p></section>
      </div>

      <div id="alamode" class="card-content">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../assets/alm-logo.jpg" alt="" class="circle">
            <span class="title green-text darken-text-4">Various Positions</span>
            <p>a la mode, inc. <br>
            Feb 2007 – Oct 2015 - 8 yrs. 9 mos.</p>
          </li>
        </ul>
        <strong>Career Highlights:</strong>
        <ul class="browser-default">
          <li>Phone, video, or in-person consultations for web design, marketing results, technical support</li>
          <li>Created department of six web designers specializing in HTML, CSS/Bootstrap using Brackets.io</li>
          <li>Hosted daily webinars on topics from niche and email marketing, SEO to design tips/tricks</li>
          <li>Handled RMA saves by resolving escalated issues or providing one-on-one consultations on product knowledge or getting results</li>
        </ul>

        <ul class="collection">
          <li class="collection-item">
            <span class="title green-text darken-text-4">Design Consultant, Product Coach</span>
            <p>Nov 2011 – Oct 2015 - 4 yrs.</p>
          </li>
        </ul>
        <section><p align="justify">
          In November of 2011 I shifted from technical to design and consulting on a customer-facing basis. This involved discussing client needs and creating a web design project that suits those needs. Secondary duties include teaching webinars regarding how to maintain their new web infrastructure and how to monitor the analytical portion of the dashboard, phone-based one-on-one advice consultations, creating training materials such as videos and documentation, and social media marketing. I'd also work closely with sales to keep satisfaction high.
        </p></section>
        <section><p align="justify">
          a la mode's real estate division became Pipeline ROI in November of 2014 to specialize in comprehensive inbound marketing platforms. The design consultation would create the face of a real estate agent's or broker's brand and then we would coach them on lead generation, management, and nurturing including daily video webinars and one-on-one phone appointments. At first I was the only person in this division but it eventually grew to a team of six with me as the senior handling escalated issues from the others as well as still hosting daily webinars and one-on-one consultations.
        </p></section>
        <section><p align="justify">
          When the Pipeline ROI division's structure changed and it was absorbed back into a la mode and downsized I was not retained as an employee.
        </p></section>

        <ul class="collection">
          <li class="collection-item">
            <span class="title green-text darken-text-4">Senior Technician</span>
            <p>Nov 2009 – Nov 2011 - 2 yrs.</p>
          </li>
        </ul>
        <section><p align="justify">
          In November of 2009, still with a la mode, Inc., I was promoted to Sr. Tech, specializing in our website product line and e-mail services. In these cases I’d combine customer communication with either remote assistance (if the issue was specific to their computer) or independent fixes or coordinating with development or QA (if the issue appeared to be on our end). I also continued working on our IDX/MLS help department from my previous position during this time.
        </p></section>

        <ul class="collection">
          <li class="collection-item">
            <span class="title green-text darken-text-4">Technical Support</span>
            <p>Feb 2007 – Nov 2009 - 2 yrs. 10 mos.</p>
          </li>
        </ul>
        <section><p align="justify">
          At the beginning of my career with a la mode my entry-level position was to handle inbound and outbound technical support calls related to a la mode’s appraisal form-filling software. Troubleshooting varied from Windows problems, software diagnostics, or handling general product knowledge questions. After several months on the job, a la mode recognized that my expertise was better suited for handling support of their real estate websites, aiding in domain and DNS questions, web page construction, search engine optimization, and other ways to aid customers with their web presence. I was moved to the internet support team.
        </p></section>
        <section><p align="justify">
          In March of 2008, my responsibilities were expanded to include being the representative in charge of “IDX Support”, which specializes in helping real estate agents link up to their local MLS (Multiple Listing Service) to add property listings and search content to their websites. I worked mostly independently on this project using primarily e-mail correspondence between myself, the customers, development, and our legal staff requiring good written communication skills. Managing the policy agreements and contacting the local boards to discuss integration as well as aiding in the setup and customer feedback were my responsibility. During this time I remained on the phone lines for tech support and therefore had to juggle two job titles simultaneously.
        </p></section>
      </div>

      <div id="others" class="card-content">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../assets/ikon-logo.png" alt="" class="circle">
            <span class="title green-text darken-text-4">Field Service Representative</span>
            <p>IKON Office Solutions <br>
            Oct 2003 – Feb 2007 - 3 yrs. 5 mos.</p>
          </li>
        </ul>
        <section><p align="justify">
          As a Field Service Representative for this office document services and help desk/IT company it was my duty to transfer to other sites to fulfill vacancies left by ill or absent employees and fill their roles fluidly. With four different help desk sites, each with different procedures and responsibilities, my duties changed daily based upon my location. This required me to familiarize myself with a variety of locations, equipment, and staff as well as different scopes of work for each site. It was also my responsibility to bring new hires up to par with the existing staff and offer additional training as needed.
        </p></section>

        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../assets/fedex-logo.png" alt="" class="circle">
            <span class="title green-text darken-text-4">Document Specialist</span>
            <p>FedEx Office <br>
            Sep 2001 – Oct 2003 - 2 yrs. 2 mos.</p>
          </li>
        </ul>
        <section><p align="justify">
          My primary duties were operating the copy machines and organizing customer jobs. Other job responsibilities included handling digital orders as well as document manipulation and sign shop duties using programs such as Adobe Photoshop, PageMaker, Illustrator, Acrobat, Macromedia Freehand, and Microsoft Office. Aside from the extensive machine- and computer-related tasks I also took responsibility of familiarizing new employees with the more advanced aspects of document production and point-of-service training. In October of 2002, I took over as “graveyard shift” for the weekends, working alone around tight deadlines and in situations in which I had to rely on my abilities and work resourcefully.
        </p></section>
      </div>

    </div>
  </div>
</div>