@import "./scss/vars.scss";
@import "./scss/mixins.scss";
// Windows Metro style tiles interface and color schemes
@import "./scss/tiles.scss";
@import "./scss/tiles-colors.scss";

body {
    background-color: #c8e6c9;
    background-image: url(../src/assets/background.png);
    background-position: right bottom;
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.signature {
    font-family: 'Pacifico', cursive;
}

  // Soft green color scheme for tabs
  .tabs {
    .tab a {
        background-color: rgba(232,245,233,0.6);
        color: rgba(76,175,80,0.7);
        &:hover {
            background-color: rgba(232,245,233,0.3);
            color: rgba(76,175,80,1);
        }
        &.active {
            background-color: white;
            color: rgba(76,175,80,1);
        }
    }
  }