@mixin set-relative(){
    display: block;
    position: relative;
}

@mixin set-absolute(){
    position: absolute;
}

@mixin set-flex(){
    display: flex;
}

@mixin animate($params){
    animation: $params;
}

@mixin transition-scheme($t){
    transition: $t;
}

@mixin text-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin collapse(){
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease;;
    position: relative;
}

@mixin expand(){
    max-height: 1000px !important;
    transition: $transition-collapse !important;
    transition-duration: 1s !important;
    overflow: visible!important;
}

@mixin perspective($perspective){
    transform: perspective($perspective);
}
@mixin rotate($degrees){
    transform: rotate($degrees);
}
@mixin rotateX($degrees){
    transform: rotateX($degrees);
}
@mixin rotateY($degrees){
    transform: rotateY($degrees);
}
@mixin rotateZ($degrees){
    transform: rotateZ($degrees);
}
@mixin scale($ratio){
    transform: scale($ratio);
}
@mixin scaleX($ratio){
    transform: scaleX($ratio);
}
@mixin scaleY($ratio){
    transform: scaleY($ratio);
}
@mixin translate($x: 0, $y: 0){
    transform: translate($x, $y);
}
@mixin skew($x: 0, $y: 0){
    transform: skew($x, $y);
}
@mixin skewX($x: 0){
    transform: skewX($x);
}
@mixin skewY($y: 0){
    transform: skewY($y);
}
@mixin translate3d($x: 0, $y: 0, $z: 0){
    transform: translate3d($x, $y, $z);
}

@mixin transformOrigin($origin){
    transform-origin: $origin;
}

@mixin transition($time: 1s, $func: ease, $target: all){
    transition: $target $time $func;
}

@mixin translateX($x: 0){
    transform: translateX($x);
}
@mixin translateY($y: 0){
    transform: translateY($y);
}